body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.SearchBar {
  height: 45px;
  width: 85%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.ItemList {
  height: 100%;
}

.ListItem {
  height: 300px;
  width: 85%;
  margin: auto;
  margin-top: 20px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.ListItem > img {
  display: block;
  height: 150px;
  width: 100%;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: royalblue;
}

.ListItem > div {
  text-align: left;
  display: block;
  height: 50%;
}

.ListItem > div > p {
  margin: 10px;
}

.ListItemTitle {
  font-weight: bold;
}

.ListItemDescription {
}